body{background-color: darkred;}
p1{font-size:30px;color: skyblue;}
ol{font-size: 30px;color: skyblue;}
p2{font-size: 30px;color: skyblue;}
h2{color: skyblue;text-decoration-line: underline;}
h1{color: skyblue;text-decoration-line: underline;}
p4{color: skyblue; text-decoration-line: underline;}